body {
    background-color: black;
}

p {
    color: dimgray;
    margin: 10px;
}

.jumbotron {
    background-color: darkgray;
    border-color: red;
}

#eating {
    color: red;
}

h3 {
    margin: 10px;
}

li {
    margin: 10px;
}
